<html>
    <head>
<style>
.thumbnail {
    width: 200px;
    height: 200px;
}
</style>
    </head>
    <body>
        {% include "menu.j2" %}
        <h1>{{ file.title }}</h1>
        <div>
            <img class="thumbnail" src="{{ file.thumbnail }}">
        </div>
        <audio preload="auto" id="bass" class="master track">
            <source src="data:audio/flac;base64,{{ data.bass }}" type="audio/flac"></source>
        </audio>
        <input type="range" value="100" max="100" min="0" id="bass_volume"> Bass
        <br/>
        <audio preload="auto" id="drums" class="slave track">
            <source src="data:audio/flac;base64,{{ data.drums }}" type="audio/flac"></source>
        </audio>
        <input type="range" value="100" max="100" min="0" id="drums_volume"> Drums
        <br/>
        <audio preload="auto" id="vocals" class="slave track">
            <source src="data:audio/flac;base64,{{ data.vocals }}" type="audio/flac"></source>
        </audio>
        <input type="range" value="100" max="100" min="0" id="vocals_volume"> Vocals
        <br/>
        <audio preload="auto" id="other" class="slave track">
            <source src="data:audio/flac;base64,{{ data.other }}" type="audio/flac"></source>
        </audio>
        <input type="range" value="100" max="100" min="0" id="other_volume"> Other
        <br/>

        <input type="button" id="play" value="Play">
        <input type="range" value="0" id="position">
        <fieldset>
        <input type="radio" name="speed" value=".5">50%
        <input type="radio" name="speed" value=".75">75%
        <input type="radio" name="speed" value="1" checked>Original
        <input type="radio" name="speed" value="1.5">150%
        <input type="radio" name="speed" value="2">200%
        </fieldset>

        <script>
            const playpause = document.getElementById('play');
            const position = document.getElementById('position');
            const speed = document.getElementsByName('speed');
            const master = document.getElementsByClassName('master')[0];
            const slaves = document.getElementsByClassName('slave');
            const all = document.getElementsByClassName('track');

            function connectVolume(name) {
                const element = document.getElementById(name);
                const volume = document.getElementById(name + "_volume");

                volume.addEventListener("change", function() {
                    element.volume = this.value / 100.0;
                });
            }

            connectVolume('bass');
            connectVolume('drums');
            connectVolume('vocals');
            connectVolume('other');

            function syncSlaveTime() {
                const time = master.currentTime;
                const speed = master.playbackRate;
                position.value = time;
                console.debug("Sync time to " + position.value);
                for (let e of slaves) {
                    e.playbackRate = speed;
                    e.currentTime = time;
                }
            }

            playpause.addEventListener("click", function() {
                if (master.paused) {
                    if (master.ended) {
                        master.currentTime = 0;
                    }
                    syncSlaveTime();
                    playpause.value = "Pause";
                    master.play();
                }
                else {
                    playpause.value = "Play";
                    master.pause();
                }
            });

            function pauseAndPlay() {
                if (master.paused) {
                    return;
                }
                let remaining = slaves.length;
                for (let e of slaves) {
                    e.addEventListener("paused", { "once": true });
                    if (--remaining == 0) {
                        syncSlaveTime();
                        setTimeout(function() { master.play(); }, 0);
                    }
                }
                master.pause();
            }

            master.addEventListener("seeking", syncSlaveTime);
            master.addEventListener("seeked", syncSlaveTime);

            master.addEventListener("play", function() {
                for (let e of slaves) {
                    e.play();
                }
            });
            master.addEventListener("pause", function() {
                for (let e of slaves) {
                    e.pause();
                }
            });

            master.addEventListener("timeupdate", function() {
                console.debug("timeupdate " + this.currentTime);
                position.value = this.currentTime;
            });

            master.addEventListener("ended", function() {
                playpause.value = "Play";
            });

            master.addEventListener("canplay", function() {
                position.setAttribute("max", this.duration);
            });
            position.addEventListener("change", function() {
                master.currentTime = this.value;
                syncSlaveTime();
            });
            for (let s of speed) {
                s.addEventListener("click", function() {
                    console.debug("click", this.value);
                    master.playbackRate = this.value;
                    pauseAndPlay();
                });
            }
        </script>
    </body>
</html>
