<!doctype html>
<html data-bs-theme="dark">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main class="main">
            <div class="container bg-body-tertiary" data-layout="container">
                <div class="row text-center">
                    <h1>{{ file.title }}</h1>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 position-relative selection">
                        <div class="row">
                            <div class="col-1 text-center">
                                <h5><i class="bi bi-arrow-return-left"></i></h5>
                            </div>
                            <div class="col d-flex align-items-center">
                                <div>
                                    <h5 class="flex-1">
                                        <a class="stretched-link link-light link-underline link-underline-opacity-0
                                                  link-underline-opacity-75-hover play" href="/library">
                                            Back to Library
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 text-center pb-3">
                        <img src="{{ file.thumbnail }}" style="width: 100%; height: 100%">
                        <h4 class="text-secondary">{{ file.uploader }}</h4>
                    </div>
                    <div class="col-lg-6 col-sm-12 pt-3">
                        <div class="row mb-3">
                            <label for="bass_volume" class="col-2 col-form-label">Bass</label>
                            <div class="col-10">
                                <input class="form-range" type="range" value="100" max="100" min="0" id="bass_volume">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="drums_volume" class="col-2 col-form-label">Drums</label>
                            <div class="col-10">
                                <input class="form-range" type="range" value="100" max="100" min="0" id="drums_volume">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="vocals_volume" class="col-2 col-form-label">Vocals</label>
                            <div class="col-10">
                                <input class="form-range" type="range" value="100" max="100" min="0" id="vocals_volume">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="other_volume" class="col-2 col-form-label">Other</label>
                            <div class="col-10">
                                <input class="form-range" type="range" value="100" max="100" min="0" id="other_volume">
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col-2">
                                Speed
                            </div>
                            <div class="col btn-group">
                                <input type="radio" class="btn-check" name="speed" id="speed50" value=".5">
                                <label class="btn btn-outline-secondary" for="speed50">50 %</label>
                                <input type="radio" class="btn-check" name="speed" id="speed60" value=".6">
                                <label class="btn btn-outline-secondary" for="speed60">60 %</label>
                                <input type="radio" class="btn-check" name="speed" id="speed70" value=".7">
                                <label class="btn btn-outline-secondary" for="speed70">70 %</label>
                                <input type="radio" class="btn-check" name="speed" id="speed80" value=".8">
                                <label class="btn btn-outline-secondary" for="speed80">80 %</label>
                                <input type="radio" class="btn-check" name="speed" id="speed90" value=".9">
                                <label class="btn btn-outline-secondary" for="speed90">90 %</label>
                                <input type="radio" class="btn-check" name="speed" id="speed100" value="1" checked>
                                <label class="btn btn-outline-secondary" for="speed100">Original</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-secondary" id="remove-loop">
                            Remove loop&nbsp;<i class="bi bi-repeat"></i>
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <a href="#" class="btn btn-secondary" id="play">
                            <i class="bi bi-play"></i>
                        </a>
                    </div>
                    <div class="col-2">
                        <div id="position_string">0:00</div>
                    </div>
                    <div class="col" id="waveform"></div>
                    <div class="col-2">
                        <span id="duration_string">0:00</span>
                    </div>
                </div>
            </div>
        </main>

        <audio id="bass" class="master track">
            <source src="/static/music/{{ file.id }}/bass.flac" type="audio/flac"></source>
        </audio>
        <audio id="drums" class="slave track">
            <source src="/static/music/{{ file.id }}/drums.flac" type="audio/flac"></source>
        </audio>
        <audio id="vocals" class="slave track">
            <source src="/static/music/{{ file.id }}/vocals.flac" type="audio/flac"></source>
        </audio>
        <audio id="other" class="slave track">
            <source src="/static/music/{{ file.id }}/other.flac" type="audio/flac"></source>
        </audio>
        <audio id="metronome" class="slave track" muted>
            <source src="/static/music/{{ file.id }}/metronome.flac" type="audio/flac"></source>
        </audio>
        <script>
            let nextTick = null;
            let metronomeFrequency = {{ beats.bpm }};
            let metronomeRunning = false;
            let metronomeAuto = false;
            const METRONOME_TICK = .2;

            const playpause = document.getElementById('play');
            const speed = document.getElementsByName('speed');
            const master = document.getElementsByClassName('master')[0];
            const slaves = document.getElementsByClassName('slave');
            const all = document.getElementsByClassName('track');
            const positionElement = document.getElementById('position_string');
            const durationElement = document.getElementById('duration_string');

            function secondsToTimeString(num) {
                const minutes = Math.floor(num / 60);
                const seconds = Math.floor(num % 60);
                function m2(num) {
                    return (num < 10 ? "0" : "") + num;
                }
                return "" + minutes + ":" + m2(seconds);
            }

            function connectVolume(name) {
                const element = document.getElementById(name);
                const volume = document.getElementById(name + "_volume");

                volume.addEventListener("change", function() { element.volume = this.value / 100.0; });
                volume.addEventListener("input", function() { element.volume = this.value / 100.0; });
            }

            connectVolume('bass');
            connectVolume('drums');
            connectVolume('vocals');
            connectVolume('other');

            playpause.addEventListener("click", function(e) {
                e.preventDefault();
                e.stopPropagation();
                if (master.paused) {
                    if (master.ended) {
                        master.currentTime = 0;
                    }
                    playpause.innerHTML = '<i class="bi bi-pause"></i>';
                    master.play();
                }
                else {
                    playpause.innerHTML = '<i class="bi bi-play"></i>';
                    master.pause();
                }
            });

            master.addEventListener("seeking", function() {
                for (let e of slaves) {
                    e.currentTime = this.currentTime;
                }
            });
            master.addEventListener("seeked", function() {
                for (let e of slaves) {
                    e.currentTime = this.currentTime;
                }
            });
            master.addEventListener("play", function() {
                for (let e of slaves) {
                    e.play();
                }
                playpause.innerHTML = '<i class="bi bi-pause"></i>';
            });
            master.addEventListener("pause", function() {
                for (let e of slaves) {
                    e.pause();
                }
                playpause.innerHTML = '<i class="bi bi-play"></i>';
            });

            master.addEventListener("timeupdate", function() {
                const time = this.currentTime;
                for (let e of slaves) {
                    const diff = e.currentTime - time;
                    if (Math.abs(diff) < .01) {
                        if (e.playbackRate != this.playbackRate) {
                            console.debug(e.id + " soft sync done", time, diff);
                            e.playbackRate = this.playbackRate;
                        }
                    } else if (Math.abs(diff) > .2) {
                        console.debug(e.id + " hard sync", time, diff);
                        e.playbackRate = this.playbackRate;
                        e.currentTime = this.currentTime;
                    } else {
                        if (diff > 0) {
                            e.playbackRate = this.playbackRate * .98;
                            console.debug(e.id + " soft sync (slow down)", time, diff);
                        } else {
                            e.playbackRate = this.playbackRate * 1.02;
                            console.debug(e.id + " soft sync (speed up)", time, diff);
                        }
                    }
                }
                positionElement.innerText = secondsToTimeString(this.currentTime);
            });

            master.addEventListener("ended", function() { playpause.innerHTML = '<i class="bi bi-play"></i>'; });

            master.addEventListener("canplay", function() {
                durationElement.innerText = secondsToTimeString(this.duration);
            });

            for (let s of speed) {
                s.addEventListener("click", function() {
                    master.playbackRate = this.value;
                    for (let e of slaves) {
                        e.playbackRate = this.value;
                    }
                });
            }

            /* metronome */
            const AudioContext = window.AudioContext || window.webkitAudioContext;
            const audioCtx = new AudioContext();
            fetch("/static/sounds/metronome.flac")
                .then(resp => resp.arrayBuffer())
                .then(buf => audioCtx.decodeAudioData(buf))
                .then(audioBuffer => {
                    window.metronomeBuffer = audioBuffer;
                })

            function click(when) {
                const source = audioCtx.createBufferSource();
                source.buffer = window.metronomeBuffer;
                source.connect(audioCtx.destination);
                source.start(when);
            }

            metronomeTick = function() {
                if (!metronomeRunning || metronomeAuto) {
                    return;
                }
                const currentTime = audioCtx.currentTime;
                if (nextTick === null) {
                    nextTick = currentTime + .1;
                }
                if (currentTime > nextTick - METRONOME_TICK) {
                    if (nextTick > currentTime) {
                        click(nextTick);
                    }
                    nextTick = nextTick + (60 / metronomeFrequency);
                }
            }
            setInterval(metronomeTick, 1000 * METRONOME_TICK);

            window.metronome = {
                start: function(freq) {
                    this.init();
                    metronomeRunning = true;
                    if (freq && freq > 0) {
                        metronomeFrequency = freq;
                    }
                    nextTick = null;
                    this.updateButtons();
                },
                toggleAuto: function(freq) {
                    this.init();
                    if (metronomeAuto) {
                        metronomeRunning = false;
                        metronomeAuto = false;
                    } else {
                        metronomeRunning = true;
                        metronomeAuto = true;
                    }
                    nextTick = null;
                    this.updateButtons();
                },
                toggle: function() {
                    this.init();
                    if (metronomeAuto) {
                        metronomeAuto = false;
                        metronomeRunning = true;
                    } else {
                        metronomeRunning = !metronomeRunning;
                    }
                    nextTick = null;
                    this.updateButtons();
                },
                stop: function() {
                    metronomeRunning = false;
                    nextTick = null;
                    this.updateButtons()
                },
                changeSpeed: function(freqdiff) {
                    metronomeFrequency = Math.min(Math.max(metronomeFrequency + freqdiff, 40), 240);
                    metronomeAuto = false;
                    nextTick = null;
                    this.updateButtons();
                },
                init: function() {
                    const silence = audioCtx.createBufferSource();
                    silence.connect(audioCtx.destination);
                    silence.start();
                },
                updateButtons: function() {
                    console.debug("update buttons", metronomeRunning, metronomeAuto);
                    if (!metronomeRunning) {
                        document.getElementById('metronome-auto').classList.remove('active');
                        document.getElementById('metronome-manual').classList.remove('active');
                        document.getElementById('metronome').muted = true;
                    } else if (metronomeAuto) {
                        document.getElementById('metronome-auto').classList.add('active');
                        document.getElementById('metronome-manual').classList.remove('active');
                        document.getElementById('metronome').muted = false;
                    } else {
                        document.getElementById('metronome-auto').classList.remove('active');
                        document.getElementById('metronome-manual').classList.add('active');
                        document.getElementById('metronome').muted = true;
                    }
                    document.getElementById('metronome-frequency').innerText = metronomeFrequency;
                }
            }
        </script>
        <script src="https://unpkg.com/wavesurfer.js@7"></script>
        <script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
        <script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/minimap.min.js"></script>
        <script>
            const f = {{ file | tojson }};
            const peaks = [ {{ waveform.data | tojson }} ];
            const regions = WaveSurfer.Regions.create();
            const minimap = WaveSurfer.Minimap.create({
                height: 20,
                waveColor: 'rgb(200, 200, 255)',
                progressColor: 'rgb(13, 110, 253)',
            });
            const waveSurfer = WaveSurfer.create({
                container: '#waveform',
                waveColor: 'rgb(200, 200, 255)',
                progressColor: 'rgb(13, 110, 253)',
                minPxPerSec: 100,
                hideScrollbar: true,
                autoCenter: true,
                barWidth: 4,
                barGap: 4,
                barRadius: 4,
                duration: {{ file.duration }},
                plugins: [ regions, minimap ],
                media: master,
                peaks: peaks,
            });

            inactiveRegionColor = 'rgba(255, 255, 255, 0.2)';
            activeRegionColor = 'rgba(255, 0, 0, 0.4)';

            regions.enableDragSelection({
                color: inactiveRegionColor,
            });
            let activeRegion = null;
            regions.on('region-created', (region) => {
                region.setOptions({ drag: false, resize: true });
                /* HACK */ region.setOptions({ start: region.start.toFixed(6), end: region.end.toFixed(6) });
                activeRegion = null;
                for (let r of regions.getRegions()) {
                    if (r.id != region.id)
                        r.remove();
                }
            });
            regions.on('region-updated', (region) => {
                /* HACK */ region.setOptions({ start: region.start.toFixed(6), end: region.end.toFixed(6) });
            });
            regions.on('region-clicked', (region, e) => {
                e.stopPropagation();
                activeRegion = region;
                region.setOptions({ color: activeRegionColor });
                region.play();
            });
            regions.on('region-out', (region) => {
                window.setTimeout(() => {
                    if (activeRegion) {
                        activeRegion.play();
                    }
                }, 0);
            });
            waveSurfer.on('interaction', () => {
                if (activeRegion) {
                    activeRegion.setOptions({ color: inactiveRegionColor });
                    activeRegion = null;
                }
            });
            minimap.on('interaction', () => {
                activeRegion = null;
            });
            document.getElementById('remove-loop').addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();
                regions.clearRegions();
            });
        </script>
    </body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/static/css/default.css" rel="stylesheet">
</html>
