<html>
    <head>
<style>
body {
    padding: 0;
    margin: 0;
}
.thumbnail {
	width: 64px;
	height: 64px;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.convert-screen {
    background-color: white;
    opacity: 80%;
    z-index: 9999;
}
</style>
    </head>
    <body>
        {% include "menu.j2" %}
        <div id="convert-screen" class="fullscreen convert-screen" style="display: none">
            <h1>Please wait until process is completed</h1>
            <pre id="convert-output">
            </pre>
        </div>

        <h1>Search</h1>
        <form action="/search" method="get">
            <label for="q">Search:</label>
            <input type="text" id="q" name="q" value="{{ query or "" }}">
        </form>
        <ul>
            {% for f in files %}
                <li>
                    <img class="thumbnail" src="{{ f.thumbnail }}">{{ f.title }}
                    <input class="play" type="button" value="Play" data-id="{{ f.id }}">
                    <input class="convert" type="button" value="Convert" data-id="{{ f.id }}">
                </li>
            {% endfor %}
        </ul>

        <script>
            // Load the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>


        <audio id="player" controls autoplay>
            <source id="audiosource"></source>
        </audio>

<script>
    const player = document.getElementById("player")
    const audiosource = document.getElementById("audiosource")

    const play_buttons = document.getElementsByClassName("play");
    for (let e of play_buttons) {
        e.addEventListener("click", function(e) {
            const id = this.getAttribute("data-id");
            const url = "/preview/" + id;
            audiosource.src = url;
            player.load();
        });
    }

    const convert_buttons = document.getElementsByClassName("convert");
    for (let e of convert_buttons) {
        e.addEventListener("click", function(e) {
            const id = this.getAttribute("data-id");
            let xhr = new XMLHttpRequest();
            xhr.open("GET", "/convert/" + id, true);
            document.getElementById('convert-screen').style.display = "block";
            xhr.onprogress = () => {
                const lines = xhr.responseText.trim().split("\n");
                const last_line = lines[lines.length - 1];
                console.debug(last_line);
                document.getElementById("convert-output").innerText = last_line;
            }
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    document.location = "/library";
                }
            }
            xhr.send();
        });
    }
</script>

    </body>
</html>
